<h2>Todos page</h2>

{{#if todos.length}}
<ul>
  {{#each todos}}
  <li class="todo">
    <form action="/complete" method="POST">
      <label>
        {{#if completed}}
        <input type="checkbox" checked name="completed">
        <span class="completed">{{title}}</span>
        {{else}}
        <input required="required" type="checkbox" name="completed">
        <span>{{title}}</span>
        {{/if}}

        <input type="hidden" value="{{_id}}" name="id">

        {{#if completed}}
        <button class="waves-effect waves-light btn red" type="submit">Cancel</button>
        {{else}}
        <button class="waves-effect waves-light btn" type="submit">Save
          <i class="material-icons right">save</i>
        </button>
        {{/if}}
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}